
<div class="">
    <div class="d-flex">
        <div class="mx-auto justify-content-center">
            <h3>@Title User</h3>
        </div>
    </div>

    <div class="mt-0">
        <EditForm Model="AccountModel" OnValidSubmit="HandleAccountSubmit">
            <div class="py-2">
                <InputText @bind-Value="AccountModel.Name" class="form-control" placeholder="Name..." />
                <ValidationMessage For="(()=>AccountModel.Name)" />
            </div>
            <div class="py-2">
                <InputText @bind-Value="AccountModel.Email" class="form-control" placeholder="Email..." />
                <ValidationMessage For="(()=>AccountModel.Email)" />
            </div>
            <div class="py-2">
                <InputSelect @bind-Value="AccountModel.DepartmentId" class="form-control" placeholder="Department">
                    @*<option value="-1">Choose your department</option>*@
                    <option value="-1" hidden disabled>-- Choose your department --</option>
                    @foreach (var dep in Departments)
                    {
                        <option value="@dep.Id">@dep.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="(()=>AccountModel.Department)" />
            </div>
            <div class="form-group py-2">
                <div class="col-form-label">Roles</div>
                @foreach (var roleModel in RoleModels)
                {
                    <div class="form-check">
                        <InputCheckbox @bind-Value="roleModel.IsSelected" class="form-check-input"></InputCheckbox>
                        <div class="form-check-label">@roleModel.Name</div>
                    </div>

                }
                <ValidationMessage For="(()=>AccountModel.Roles)" />
            </div>
            <div class="py-2">
                @if (IsProcessing)
                {
                    <button type="submit" class="btn btn-success btn-block disabled"><i class="fas fa-sign-in-alt"></i> Please Wait...</button>
                }
                else
                {
                    <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i>@Title</button>
                }
            </div>
        </EditForm>
    </div>
</div>