<nav class="vertical-nav flex-column navbar-dark bg-dark p-0">
    <a class="navbar-brand mx-4" href="#">Log Suite <i class="fas fa-user"></i></a>
    <AuthorizeView>
        <Authorized>
            <div class="nav-link text-white" data-toggle="collapse" href="#user" role="button" aria-expanded="false" aria-controls="user">
                @context.User.Identity.Name
            </div>
            <div class="collapse" id="user">
                <NavLink class="nav-link text-white" href="/logout">Выйти</NavLink>
            </div>
        </Authorized>
        <NotAuthorized>
            <NavLink class="nav-link text-white" href="/login">Войти</NavLink>
            <NavLink class="nav-link text-white" href="/registration">Зарегистрироваться</NavLink>
        </NotAuthorized>
    </AuthorizeView>
    <div class="nav-link text-white" data-toggle="collapse" href="#review" role="button" aria-expanded="false" aria-controls="review">
        Оперативка
    </div>
    <div class="collapse" id="review">
        <div class="card card-body bg-dark p-0">
            <NavLink class="nav-link text-white" href="/reviewdata">Показатели</NavLink>
            <NavLink class="nav-link text-white" href="/reviewinput">Загрузка</NavLink>
            <NavLink class="nav-link text-white" href="/dailyreviewreport">Экспорт</NavLink>
            <NavLink class="nav-link text-white" href="/dailyreview">Обзор</NavLink>
        </div>
    </div>
    <AuthorizeView Roles=@SD.Role_Admin>
        <Authorized>
            <div class="nav-link text-white" data-toggle="collapse" href="#admin" role="button" aria-expanded="false" aria-controls="admin">
                Админ
            </div>
            <div class="collapse" id="admin">
                <div class="card card-body bg-dark p-0">
                    <NavLink class="nav-link text-white" href="/admin/department">Подразделения</NavLink>
                    <NavLink class="nav-link text-white" href="/admin/account">Пользователи</NavLink>
                    <NavLink class="nav-link text-white" href="/admin/claims">Куки</NavLink>
                    <NavLink class="nav-link text-white" href="/admin/logs">Логи</NavLink>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView>
        <Authorized>
            <div class="nav-link text-white" data-toggle="collapse" href="#references" role="button" aria-expanded="false" aria-controls="references">
                Справочники
            </div>
            <div class="collapse" id="references">
                <div class="card card-body bg-dark p-0">
                    <NavLink class="nav-link text-white" href="/references/country">Страны</NavLink>
                    <NavLink class="nav-link text-white" href="/gis">ГИСы</NavLink>
                    <NavLink class="nav-link text-white" href="/gisaddon">ПХГ</NavLink>
                    <NavLink class="nav-link text-white" href="/references/resourcefeed">График ГПЭ</NavLink>
                    <NavLink class="nav-link text-white" href="/references/filetypesetting">Типы файлов</NavLink>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
</nav>
