@page "/dailyreviewreport"

<div class="row m-0" style="height: 100%;">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex card-title">
                    <div class="mx-auto justify-content-center">
                        <h3>Выгрузка оперативной отчётности</h3>
                    </div>
                    <div class="justify-content-end">
                    </div>
                </div>
                <div class="card-text">
                    <EditForm Model="Model">
                        <div class="row g-3">
                            <label class="col-auto m-2">
                                Начало периода
                                <InputDate @bind-Value="Model.StartDate" DateFormat="d" />
                            </label>
                            <label class="col-auto m-2">
                                Конец периода
                                <InputDate @bind-Value="Model.FinishDate" DateFormat="d" />
                            </label>
                            <div class="col-auto m-2">
                                <button class="btn btn-primary" @onclick="() => Run()">Сформировать</button>
                            </div>
                        </div>
                    </EditForm>

                </div>
            </div>
        </div>
    </div>
</div>

