@using LogSuite.Shared.Helpers;

<tr>
	<td>
		<InputDate @bind-Value="Model.DateReport" @bind-Value:format="dd.MM.yyyy" class="form-control form-control-sm" />
		<ValidationMessage For="(()=>Model.DateReport)" />
	</td>
	<td>
		<InputText @bind-Value="Model.RequstedValueString" class="form-control form-control-sm" />
		<ValidationMessage For="(()=>Model.RequstedValue)" />
	</td>
	<td>
		<InputText @bind-Value="Model.AllocatedValueString" class="form-control form-control-sm" />
		<ValidationMessage For="(()=>Model.AllocatedValue)" />
	</td>
	<td>
		<InputText @bind-Value="Model.EstimatedValueString" class="form-control form-control-sm" />
		<ValidationMessage For="(()=>Model.EstimatedValue)" />
	</td>
	<td>
		<InputText @bind-Value="Model.FactValueString" class="form-control form-control-sm" />
		<ValidationMessage For="(()=>Model.FactValue)" />
	</td>
	<td>
		<button class="far fa-save text-success p-0" style="background-color: transparent; border: 0;" type="submit" tooltip="save" />
		<button class="fas fa-ban text-danger p-0" style="background-color: transparent; border: 0;" type="button" tooltip="cancel" @onclick="()=> Cancel()" />
	</td>
</tr>

