<tr>
	<td class="p-0">
		<span class="form-control form-control-sm">@GisCountryModel.Id</span>
	</td>
	<td class="p-0">
		<InputSelect @bind-Value="GisCountryModel.CountryId" class="form-control form-control-sm">
			@foreach (var country in Countries)
			{
				<option value="@country.Id">@country.Name</option>
			}
		</InputSelect>
		<ValidationMessage For="(()=>GisCountryModel.Country)" />
	</td>
	<td class="p-0">
		<InputCheckbox @bind-Value="GisCountryModel.IsHidden" class="form-control form-control-sm" style="height: 1.3rem;" />
	</td>
	<td class="p-0">
		<InputCheckbox @bind-Value="GisCountryModel.IsNotCalculated" class="form-control form-control-sm" style="height: 1.3rem;" />
	</td>
	<td class="align-middle py-0" style="width: 50px;">
		<button class="far fa-save text-success p-0" style="background-color: transparent; border: 0;" type="submit" tooltip="save" />
		<button class="fas fa-ban text-danger p-0" style="background-color: transparent; border: 0;" type="button" tooltip="cancel" @onclick="()=> Cancel()" />
	</td>
</tr>

