<tr>
	<td class="p-0">
		<span class="form-control form-control-sm">@GisModel.Id</span>
	</td>
	<td class="p-0">
		<InputText @bind-Value="GisModel.Name" class="form-control form-control-sm" placeholder="наименование..." />
		<ValidationMessage For="(()=>GisModel.Name)" />
	</td>
	<td class="p-0">
		<InputText @bind-Value="GisModel.DailyReviewName" class="form-control form-control-sm" placeholder="оперативка..." />
		<ValidationMessage For="(()=>GisModel.DailyReviewName)" />
	</td>
	<td class="p-0">
		<InputCheckbox @bind-Value="GisModel.IsHidden" class="form-control form-control-sm" style="height: 1.2rem;" />
	</td>
	<td class="p-0">
		<InputCheckbox @bind-Value="GisModel.IsUkraineTransport" class="form-control form-control-sm" style="height: 1.2rem;" />
	</td>
	<td class="p-0">
		<InputCheckbox @bind-Value="GisModel.NoPhg" class="form-control form-control-sm" style="height: 1.2rem;" />
	</td>
	<td class="p-0">
		<InputCheckbox @bind-Value="GisModel.NoCountry" class="form-control form-control-sm" style="height: 1.2rem;" />
	</td>
	<td class="align-middle py-0" style="width: 50px;">
		<button class="far fa-save text-success py-0 px-1" style="background-color: transparent; border: 0;" type="submit" tooltip="save" />
		<button class="fas fa-ban text-danger p-0" style="background-color: transparent; border: 0;" type="button" tooltip="cancel" @onclick="()=> Cancel()" />
	</td>
</tr>

